@font-face {
    font-family: 'SuperMario256';
    src: url('assets/fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: roboto;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 10px;
}

.acess {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.acess div {
    margin-right: 10px;
    padding: 5px;
}
.botao-login {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.botao-login div {
    margin-left: 5px;
}

.botao-login img {
    max-height: 40px;
}

.acess div:last-child {
    margin-right: 0;
}

#separator {
    font-weight: 200;
    font-size: 90px;
}


.Menu {
    display: flex;
    align-items: center;
}

.Menu span {
    font-size: 30px;
    margin-right: 10px;
}

.meu-anjo{
    font-family: SuperMario256, sans-serif;
    font-size: 40px;
    padding: 2px;
    width: 800px;
    text-align: center;
}

.meu-anjo img{
    border-radius: 20px;
    height: 100px;
    width: 300px;
    
}


#paragrafo {
    align-items: center;
    cursor: pointer;
    font-size: 10px;
    margin-right: 10px;
    padding: 5px;
}

.nav {
    width: 99%;
    height: 50px;
    margin: 10px 10px 10px 10px;
    border-left: none;
    border-right: none;
    border-top: 1px solid rgb(152, 150, 150);
    border-bottom: 1px solid rgb(152, 150, 150);
    text-align: center;
    font-family: roboto;
    font-size: 15px;
}

.nav ul {
    list-style-type: none;
    padding: 4px;
    margin: 0;
}

.nav li {
    text-align: center;
    display: inline;
    margin-right: 25px;
    font-weight: 400;
    transition: font-size 0.3s;
    text-decoration: none; /* Remover sublinhado */
    cursor: default; /* Alterar cursor para o padrão */
}
.nav li a {
    text-decoration: none; /* Remover sublinhado */
    color: inherit; /* Usar a cor padrão do texto */
}

.nav li:hover {
    font-size: 1.2em;
}

.noticias {
    display: flex;
    background-color: transparent;
    height: 300px;
}

#conteudo-noticia{
    display: flex;
    width: 65%;
    background-color:transparent;
    border: 1px solid rgb(194, 191, 191); 
    border-radius: 5px;
    overflow: hidden; 
}

#conteudo-noticia-1{
    font-family: 'Roboto';
    background-color: rgb(210, 235, 235);
    width: 33%;
    border: 1px solid rgb(194, 191, 191); 
    border-radius: 5px;
    overflow: hidden; 
    word-wrap: break-word;
    margin: 1px;
    padding: 1.5px 1px 2px 1px;
    
}

#imagem-noticia{
    display: flex;
}

#imagem-noticia img{
    height: 80px;
    width: 30%;
    border-radius: 4px;
}

#imagem-noticia h3{
    width: 60%;
    height: 90%;
    padding: 2px;
    margin: 2px;
    font-size: 15px;
}

#imagem-noticia h3 a{
    font-family: 'Roboto';
    text-decoration: none;
    color: rgb(77, 5, 5);
    text-align: center;
}
#text-noticia{
    overflow-wrap: break-word;
    font-family: 'Roboto';
    font-size: 10px;
}

.apoiadores-container {
    overflow: hidden;
    background-color: #f1f1f1;
}

.apoiadores-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
}

.apoiadores-marquee img {
    height: 100px;
    width: 200px;
    margin-right: 20px; 
}

@keyframes marquee {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}

#h2-apoiadores {
    text-align: center;
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 500;

}

#desenvolvedor{
    font-family: 'SuperMario256';
    background-color: rgb(205, 205, 233);
    border-radius: 10px;
    padding: 4px;
    text-align: center;
    grid-row: auto;

}

.footer{
    height: 50px;
    padding: 5px;
    margin: 2px;
    font-family: 'Roboto';
    text-align: center;
}


#parceiro{
    width: 50%;
    margin: 5px;
    padding: 5px;
}