body {
    background-color: blueviolet;
}

.section{
    display: flex;
}

#text {
    width: 50%;
    margin: 10px;
    color: white;
    padding: 5px;
    align-items: center;
    font-size: 30px;
    overflow-wrap: normal;
}

button {
    color: white;
    background-color: blueviolet;
    padding: 15px;
    height: 80px;
    width: 400px;
    border: 2px solid;
    border-radius: 30px;
    border-color: white;
    font-size: 30px;
    margin-left: 100px;
}

li {
    display: inline;
    margin-right: 25px;
    font-weight: 800;
    transition: font-size 0.3s;
    text-decoration: none; /* Remover sublinhado */
    cursor: default; /* Alterar cursor para o padrão */
}

#img-redes {
    width: 100px;
}

.aviso {
  width: 500px;
  height: 500px;
  margin-top: 100px;
}
