@font-face {
    font-family: 'SuperMario256';
    src: url('../fonts/SuperMario256.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: roboto;

}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: #f2f2f2;
    height: 100px;
    border-radius: 10px;
}

.acess {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
}

.acess div {
    margin-right: 10px;
    padding: 5px;
}
.botao-login {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
}

.botao-login div {
    margin-left: 5px;
}

.botao-login img {
    max-height: 40px;
}

.acess div:last-child {
    margin-right: 0;
}

#separator {
    font-weight: 200;
    font-size: 90px;
}


.Menu {
    display: flex;
    align-items: center;
}

.Menu span {
    font-size: 30px;
    margin-right: 10px;
}

.meu-anjo{
    font-family: 'SuperMario256', sans-serif;
    font-size: 40px;
    padding: 2px;
    width: 200px;
    text-align: center;
}

.meu-anjo img{
    border-radius: 20px;
    height: 100px;
    width: 200px;
    
}


body{
    background-color: rgb(51, 46, 46);
    margin: 5px;
}

.quem-somos{
    font-family: Roboto;
    font-size: 30px;
    color: white;
    margin: 10px;
    padding: 5px;
}